@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,500&family=Poppins:wght@200;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply p-2 bg-blue-600 rounded hover:bg-blue-700 text-white;
  }
}

body {
  border-radius: 10px;
  box-shadow: 0 2px 10px 0 rgba(135, 127, 127, 0.468);
  background-image: url("./assets/mario.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

* {
  font-family: "open-sans", serif;
}
